body {
    padding: 50px
}

/* input[type='number'] {
    -moz-appearance: textfield;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}